name: Build & Push Image

on:
  push:
    branches:
      - "main"
    tags:
      - 'v*'

jobs:
  build:
    name: Build & Push Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: galexrt
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Quay.io Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: quay.io
          username: ${{ secrets.REGISTRY_QUAYIO_USERNAME }}
          password: ${{ secrets.REGISTRY_QUAYIO_PASSWORD }}

      - name: Build Container Image
        run: |
          if [[ "${GITHUB_REF}" =~ ^refs/tags/* ]]; then
              # Tags
              CONTAINER_IMAGE_TAG="${GITHUB_REF/refs\/tags\//}"
          else
              # Branch
              CONTAINER_IMAGE_TAG="${GITHUB_REF/refs\/heads\//}"
          fi

          make container-crossbuild
